<nav class="navbar navbar-default" role="navigation" ng-controller="NavbarController as vm">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#aquari-nav">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Aquari App Store</a>
        </div> <!-- /.navbar-header -->

        <div class="collapse navbar-collapse" id="aquari-nav">
            <ul class="nav navbar-nav pull-right">
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
        </div> <!-- /.collapse.navbar-collapse -->
    </div> <!-- /.container-fluid -->
</nav>

